@media screen and (max-width: 1230px){
    .footer-container .footer-content {
    flex-wrap: wrap;
    row-gap: 49px;
    justify-content: center;
    }
}
@media screen and (max-width: 992px){
    .navbar {
        height: 60px;
    }
    .carasoul-section {
        margin-top: 60px;
    }
    .navbar .nav {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .nav-left a svg {
        height: 34 !important;
        width: 24 !important;
    }
    .navbar .nav .nav-toggle-btn {
        display: block;
    }
    .nav .nav-right {
        display: none;
    }

    .restaurant .restaurant-content .restaurant-header .restaurant-right {
        gap: 8px;
        font-size: 14px;
    }

    .restaurant .restaurant-content .restaurants-details .restaurants-card-grid .restaurants-card-item a .restaurants-card-info .card-title {
        font-size: 14px;
    }

    .restaurant .restaurant-content .restaurants-details .restaurants-card-grid .restaurants-card-item a .restaurants-card-info .card-text {
        font-size: 9px;
    }

    .restaurant .restaurant-content .restaurants-details .restaurants-card-grid .restaurants-card-item a .rating-time-price {
        font-size: 11px;
    }

    .footer-container .footer-content {
        flex-wrap: wrap;
        row-gap: 25px;
        justify-content: center;
    }

    .restaurant .restaurant-content .restaurant-header .restaurant-left {
        font-size: 22px;
    }

    .restaurant .restaurant-content .restaurants-details .restaurants-card-grid {
        grid-template-columns: repeat(3, calc(100% / 3));
        gap: 2px;
    }
}
@media screen and (max-width: 768px){
    .restaurant .restaurant-content .restaurants-details .restaurants-card-grid {
        grid-template-columns: repeat(2, calc(100% / 2));
        gap: 2px;
    }

    .restaurant .restaurant-content .restaurant-header .restaurant-right {
        gap: 10px;
        font-size: 11px;
    }

    .restaurant .restaurant-content .restaurants-details .restaurants-card-grid .restaurants-card-item a .restaurants-card-info .card-title {
        font-size: 14px;
    }

    .restaurant .restaurant-content .restaurants-details .restaurants-card-grid .restaurants-card-item a .restaurants-card-info .card-text {
        font-size: 9px;
    }

    .restaurant .restaurant-content .restaurants-details .restaurants-card-grid .restaurants-card-item a .rating-time-price {
        font-size: 11px;
    }

    .restaurant .restaurant-content .restaurant-header .restaurant-left {
        font-size: 18px;
    }
}
@media screen and (max-width: 576px){
    .restaurant .restaurant-content .restaurants-details .restaurants-card-grid {
        grid-template-columns: repeat(1, 100%);
        gap: 2px;
    }

    .restaurant .restaurant-content .restaurant-header .restaurant-right .restaurant-item {
        display: none;
    }
    .restaurant .restaurant-content .restaurant-header .restaurant-right .restaurant-item:last-child {
        display: inline-flex;
    }
    .restaurant .restaurant-content .restaurant-header .restaurant-right {
        font-size: 14px;
    }
}